@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --stone-100: #f3e5d7;
  --stone-150: #e3ddd7;
  --stone-600: #5f564d;
  --stone-900: #312e2c;
  --rose-50: #fff7fb;
  --rose-800: #78284e;
  --brown-800: #854632;
  --padding-one: 40px;
  --spacing-one: 40px;
  --spacing-two: 32px;
  --spacing-three: 24px;
  --spacing-four: 16px;
}
.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.outfit-light {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.outfit-semibold {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.outfit-bold {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--stone-100);
}

main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-one);
  margin: 128px auto;
  padding: var(--padding-one);
  width: 736px;
  height: 1700px;
  background-color: white;
  border-radius: 24px;
}

h1,
h2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--brown-800);
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 28px;
  color: var(--brown-800);
}

p,
ul,
li {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.mobile {
  display: none;
}
.desktop-tablet {
  display: block;
  width: 656px;
  height: 300px;
}
.info {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-two);
}

.section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-three);
  margin: 0;
  padding: 0;
}

.section ul,
.section ol {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 16px; /* This aligns the markers with the container */
}

ul li,
ol li {
  font-size: 16px;
  color: var(--stone-600);
}

.section .outfit-bold {
  font-size: 16px;
  color: var(--stone-900);
  margin: 32px 0;
}
.preparation {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-four);
  background-color: var(--rose-50);
  padding: 24px;
}
.preparation h3 {
  font-size: 20px;
  color: var(--rose-800);
}

.preparation ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.nutrition {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-three);
}
.nutrition-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}
.nutrition-item {
  display: flex;
  flex-direction: row;
  padding: 16px 32px;
  border-bottom: var(--stone-150) dotted 1px;
}
.nutrition-item p {
  display: block;
  width: 100%;
}
.nutrition-item p:last-child {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .mobile {
    display: none;
  }
  main {
    width: 616px;
    height: 1844px;
  }
}

@media screen and (max-width: 428px) {
  .desktop-tablet {
    display: none;
  }
  .mobile {
    display: block;
    width: 100%;
    height: auto;
  }
  main {
    margin: 0;
    width: 100%;
    padding: 40px 32px;
    border-radius: 0;
  }
}

.attribution {
  position: absolute;
  right: 3%;
  bottom: 3%;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
